/* xyflow theme files. Delete these to start from our base */

.react-flow,
body {
    --xy-background-color: #1d1d20;
    /* Custom Variables */
    --xy-theme-selected: #712aff;
    --xy-theme-selected2: #a490ff;
    --xy-theme-hover: #7c65ff;
    --xy-theme-edge-hover: rgb(190, 31, 110);
    --xy-theme-color-focus: #e8e8e8;

    /* Built-in Variables see https://reactflow.dev/learn/customization/theming */
    --xy-node-border-default-color: #6a61d8;
    --xy-bang-button-color: #8161f0;

    --xy-node-boxshadow-default:
        0px 3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d,
        0px 0.51px 1.01px 0px #0000001a;

    --xy-node-border-radius-default: 8px;
    --xy-node-background-color-default: #27282d;
    --xy-node-min-width: 200px;

    --xy-handle-background-color-default: #691919;
    --xy-handle-border-color-default: #aaaaaa;

    --xy-edge-label-color-default: #505050;
}

.react-flow.dark {
    --xy-node-boxshadow-default:
        0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.05),
        /* light shadow */
        0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.13),
        /* medium shadow */
        0px 0.51px 1.01px 0px rgba(255, 255, 255, 0.2);
    /* smallest shadow */
    --xy-theme-color-focus: #535353;
}

.number {
    --data-type-color: #4eb3ff;
}

.boolean {
    --data-type-color: #fafc77;
}

.bang {
    --data-type-color: #ef47f1;
}

/* Customizing Default Theming */





html,
body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    /* Prevent zoom on mobile when tapping */
    touch-action: manipulation;
    -webkit-touch-callout: none;
    user-select: none;
}

.dndflow {
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

.dndflow aside {
    border-left: 1px solid #4d4d4da6;
    font-size: 12px;
    background: var(--xy-background-color);
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .node-list-node-preview {
    height: 15px;
    padding: 8px;
    /* border: var(--xy-node-border-default); */
    border-radius: 4px;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    /* Prevent zoom or scroll when dragging nodes on mobile */
    touch-action: none;
    background: var(--xy-node-background-color-default);
    font-size: 12px;
    text-wrap: nowrap;
    transition: background .4s;
}

.dndflow .node-list-node-preview.ghost {
    cursor: grabbing;
    background: var(--xy-bang-button-color) !important;
}

.dndflow .node-list-node-preview:hover {
    background: #6829ff;
}

.dndflow .node-list-node-preview.input {
    border-color: #0041d0;
}

.dndflow .node-list-node-preview.output {
    border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

/* @media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }

    .dndflow aside {
        width: 20%;
        max-width: 250px;
    }
} */


.react-flow__node {
    box-shadow: var(--xy-node-boxshadow-default);
    border-radius: var(--xy-node-border-radius-default);
    background-color: var(--xy-node-background-color-default);
    min-width: var(--xy-node-min-width);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    flex-direction: column;
    border-color: var(--xy-node-border-default-color);
    border-width: 1px;
    border-style: solid;
    color: var(--xy-node-color, var(--xy-node-color-default));
    transition: box-shadow 0.2s, border .3s;


}

.react-flow__node:has(> .node-creator) {
    background-color: transparent;
    border-width: 2px;
}

.node-creator .border-bottom,
.node-creator .border-top {
    border-width: 2px;
}

.node-creator .border-bottom {
    border-bottom-color: var(--xy-node-border-default-color);
    border-bottom-style: solid;
}

.node-creator .border-top {
    border-top-color: var(--xy-node-border-default-color);
    border-top-style: solid;
}

.react-flow__node.selectable:focus {
    box-shadow: 0px 0px 0px 4px var(--xy-theme-color-focus);
    border-color: #d9d9d9;
}

.react-flow__node.selectable:focus:active {
    box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__node.selectable:hover,
.react-flow__node.draggable:hover {
    border-color: #8190ff;
    box-shadow: 0 0 10px -2px #6343ff;

}

.react-flow__node.selectable.selected {
    border-color: var(--xy-theme-selected2);
    box-shadow: var(--xy-node-boxshadow-default);
    outline: 2px solid var(--xy-theme-selected2);
    box-shadow: 0 0 21px 2px #4321ab;
}

.react-flow__node-group {
    background-color: rgba(207, 182, 255, 0.4);
    border-color: #9e86ed;
}

.react-flow__edge.selectable:hover .react-flow__edge-path,
.react-flow__edge.selectable.selected .react-flow__edge-path {
    stroke: var(--xy-theme-edge-hover);
}

.react-flow__edge .react-flow__edge-path {
    transition: opacity .25s;
    stroke: var(--data-type-color);
    stroke-width: 1.5px;
}

.react-flow__connectionline path,
.react-flow__edge.updating .react-flow__edge-path {
    stroke: var(--data-type-color, var(--xy-node-border-default-color));
}
.react-flow__connectionline path:not(.no-color),
.react-flow__edge.updating .react-flow__edge-path {
    opacity: .5;
}

.react-flow__handle {
    background-color: var(--xy-background-color);
    border-color: var(--data-type-color);
    border-width: 2px;
    transition: box-shadow .2s, opactity .2s, background-color .4s;
}

.react-flow__handle.connected,
.node-creator .react-flow__handle:not(.ghost) {
    background-color: var(--data-type-color);
    box-shadow: 0 0 15px -1px var(--data-type-color);
}

.node-creator .react-flow__handle-left {
    transform: translate(50%);
}

.node-creator .react-flow__handle-right {
    transform: translate(-50%);
}

.node-creator .react-flow__handle {
    background-color: var(--data-type-color);
}

.react-flow__handle.ghost {
    background-color: gray;
}

.react-flow__handle.connectionindicator:hover {
    pointer-events: all;
}

.react-flow__handle.connectionindicator:hover:not(.connectingto),
.react-flow__handle.connectingto.valid {
    /* border-color: var(--xy-theme-edge-hover); */
    /* background-color: white; */
    box-shadow: 0 0 10px 3px var(--data-type-color), 0 0 5px 0 inset var(--data-type-color);
}

.react-flow__handle.connectionindicator:focus,
.react-flow__handle.connectingfrom,
.react-flow__handle.connectingto {
    /* border-color: var(--xy-theme-edge-hover); */
}

.react-flow__handle.connectingto.valid {
    /* background: #32910c !important; */
}

.react-flow__handle.connectingto:not(.valid) {
    /* background: #924141 !important; */
    border-color: #acacac;
    background-color: #4b4b4b;
    opacity: .4;
}

.react-flow__node-resizer {
    border-radius: 0;
    border: none;
}

.react-flow__resize-control.handle {
    background-color: #ffffff;
    border-color: #9e86ed;
    border-radius: 0;
    width: 5px;
    height: 5px;
}

/* 
  Custom Example CSS  - This CSS is to improve the example experience.
  You can remove it if you want to use the default styles.

  New Theme Classes:
    .xy-theme__button   - Styles for buttons.
    .xy-theme__input    - Styles for text inputs.
    .xy-theme__checkbox - Styles for checkboxes.
    .xy-theme__select   - Styles for dropdown selects.
    .xy-theme__label    - Styles for labels.
  
  Use these classes to apply consistent theming across your components.
*/

:root {
    --color-primary: #ff0073;
    --color-background: #fefefe;
    --color-hover-bg: #f6f6f6;
    --color-disabled: #76797e;
}

.xy-theme__button-group {
    display: flex;
    align-items: center;

    .xy-theme__button:first-child {
        border-radius: 100px 0 0 100px;
    }

    .xy-theme__button:last-child {
        border-radius: 0 100px 100px 0;
        margin: 0;
    }
}

/* Custom Button Styling */
.xy-theme__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 100px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-background);
    color: var(--color-primary);
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
    box-shadow: var(--xy-node-boxshadow-default);
    cursor: pointer;
}

.xy-theme__button.active {
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);
}

.xy-theme__button.active:hover,
.xy-theme__button.active:active {
    background-color: var(--color-primary);
    opacity: 0.9;
}

.xy-theme__button:hover {
    background-color: var(--xy-controls-button-background-color-hover-default);
}

.xy-theme__button:active {
    background-color: var(--color-hover-bg);
}

.xy-theme__button:disabled {
    color: var(--color-disabled);
    opacity: 0.8;
    cursor: not-allowed;
    border: 1px solid var(--color-disabled);
}

.xy-theme__button>span {
    margin-right: 0.2rem;
}

/* Add gap between adjacent buttons */
.xy-theme__button+.xy-theme__button {
    margin-left: 0.3rem;
}

/* Example Input Styling */
.xy-theme__input {
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--color-primary);
    border-radius: 7px;
    background-color: var(--color-background);
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
    font-size: 1rem;
    color: inherit;
}

.xy-theme__input:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px rgba(255, 0, 115, 0.3);
}

/* Specific Checkbox Styling */
.xy-theme__checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 7px;
    border: 2px solid var(--color-primary);
    background-color: var(--color-background);
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.xy-theme__checkbox:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.xy-theme__checkbox:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 0, 115, 0.3);
}

/* Dropdown Styling */
.xy-theme__select {
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--color-primary);
    border-radius: 50px;
    background-color: var(--color-background);
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
    font-size: 1rem;
    color: inherit;
    margin-right: 0.5rem;
    box-shadow: var(--xy-node-boxshadow-default);
}

.xy-theme__select:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px rgba(255, 0, 115, 0.3);
}

.xy-theme__label {
    margin-top: 10px;
    margin-bottom: 3px;
    display: inline-block;
}

.tippy-box {
    background-color: #121117;
    font-size: 12;
    border-radius: 4px;
    color: #b3b3bc;
    box-shadow: 0px 0 16px 3px #161022;
    pointer-events: none;
    border: 2px solid #4c30a9;
}

.tippy-box.hidden {
    visibility: hidden;
}


.switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1d1d20;
    transition: 0.4s;
    border-radius: 34px;
    border: 1.5px solid #6a61d8;
}

.slider .dot {
    height: 100%;
    width: 17.5px;
    background-color: #d1cedc;
    transition: 0.3s;
    border-radius: 50%;
    display: block;
    /* position: absolute;
    content: "";
    height: 17.5px;
    width: 17.5px;
    left: 0px;
    bottom: 0px;
    background-color: #d1cedc;
    transition: 0.3s;
    border-radius: 50%; */
}

input:checked+.slider {
    background-color: #6a61d8;
}

input:checked+.slider .dot {
    transform: translateX(13px);
}



/* og */
input {
    background: var(--xy-background-color);
    border: 1.5px solid #6a61d8;
    border-radius: 3px;
}

input[type="checkbox"]:not(:checked) {
    background: var(--xy-background-color);
    /* light gray background */
    border: 1px solid #6a61d8;
    /* custom border */
    width: 16px;
    height: 16px;
    appearance: none;
    /* removes default styling */
    border-radius: 3px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    accent-color: #8161f0;
    border-radius: 3px;
    width: 16px;
    height: 16px;
}

.element {
    position: relative;
    border-radius: 8px;
    padding: 8px;
    background: linear-gradient(to bottom, #1f1d33 40%, #3a2d74) 100%;
}


.element::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1px;
    /* border thickness */
    border-radius: 5px;
    background: linear-gradient(to bottom, #6a61d8, #2a2c4a);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.element2 {
    position: relative;
    border-radius: 8px;
    padding: 8px;
    background: linear-gradient(to bottom, #5d54cd 40%, #7156cc) 100%;
}

.element2::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1px;
    /* border thickness */
    border-radius: 5px;
    background: linear-gradient(to bottom, #ab97ff, #47b3d9);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.dropdown {
    border: 1px solid rgba(77, 77, 77, 0.65);
    border-radius: 8px;
}

.dropdown .trigger {}

.dropdown:focus {
    border: 2px solid #4c30a9;
    /* outline: none; */
}

.dropdown .option:hover {
    background: #4c4957;
}

.dropdown .option.selected {
    background: #513dab;
}

.dropdown .option {
    transition: background .25s;
}

.tabs button.main:hover {
    background: var(--xy-bang-button-color);
    outline: none;
}

.tabs button.main {
    transition: background .5s;
    outline: none !important;
}