/* xyflow theme files. Delete these to start from our base */

.react-flow,
body {
    --xy-background-color: #141414;
    /* Custom Variables */
    --xy-theme-selected: #712aff;
    --xy-theme-selected2: #a490ff;
    --xy-theme-selected3: #858bff;
    --xy-theme-hover: #7c65ff;
    --xy-theme-edge-hover: rgb(190, 31, 110);
    --xy-theme-color-focus: #e8e8e8;

    /* Built-in Variables see https://reactflow.dev/learn/customization/theming */
    --xy-node-border-color: #8771ff;
    --xy-bang-button-color: #987cff;

    --main-accent-color: #7513ec;
    --dark-accent-color: #150024;

    --selection-hover-color: #4c4957;
    --destructive-base-color: #af1550;
    --destructive-highlight-color: #f6024b;

    --input-disabled-color: #7b7887;
    --input-disabled-accent-color: #473d6e;

    --xy-node-boxshadow:
        0px 3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d,
        0px 0.51px 1.01px 0px #0000001a;

    --xy-node-border-radius: 8px;
    /* --xy-node-background-color: #27282d; */
    --xy-node-background-color: #222225;
    --xy-node-min-width: 200px;

    --xy-handle-background-color-default: #691919;
    --xy-handle-border-color-default: #aaaaaa;

    --xy-edge-label-color-default: #505050;
}

.react-flow.dark {
    --xy-node-boxshadow:
        0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.05),
        /* light shadow */
        0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.13),
        /* medium shadow */
        0px 0.51px 1.01px 0px rgba(255, 255, 255, 0.2);
    /* smallest shadow */
    --xy-theme-color-focus: #535353;
}

.number {
    --data-type-color: #4eb3ff;
}

.boolean {
    --data-type-color: #fafc77;
}

.bang {
    --data-type-color: #ef47f1;
}

/* Customizing Default Theming */





html,
body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    /* Prevent zoom on mobile when tapping */
    touch-action: manipulation;
    -webkit-touch-callout: none;
    user-select: none;
}

.dndflow {
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

.dndflow aside {
    border-left: 1px solid #4d4d4da6;
    font-size: 12px;
    background: var(--xy-background-color);
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .node-list-node-preview {
    height: 15px;
    padding: 8px;
    /* border: var(--xy-node-border-default); */
    border-radius: 4px;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    /* Prevent zoom or scroll when dragging nodes on mobile */
    touch-action: none;
    background: var(--xy-node-background-color);
    font-size: 12px;
    text-wrap: nowrap;
    transition: background .4s;
}

.dndflow .node-list-node-preview.ghost {
    cursor: grabbing;
    background: var(--xy-bang-button-color) !important;
}

.dndflow .node-list-node-preview:hover {
    background: var(--main-accent-color);
    /* background: #6829ff; */
}

.dndflow .node-list-node-preview.input {
    border-color: #0041d0;
}

.dndflow .node-list-node-preview.output {
    border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

/* @media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }

    .dndflow aside {
        width: 20%;
        max-width: 250px;
    }
} */

.sidebar-open-button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--main-accent-color);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s, visibility .8s;
}

.sidebar-hover-zone {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 5;
    width: 10px;
    background: linear-gradient(to left, var(--main-accent-color), transparent);
    transition: opacity 0.4s ease, visibility 0.4s ease, background .6s ease, width .4s;
}

.sidebar-hover-zone.inactive,
.sidebar-hover-zone:not(.mouse-up) {
    opacity: 0;
    visibility: hidden;
}

.sidebar-hover-zone.active.mouse-up:hover {
    width: 30px;
}

.sidebar-hover-zone.active.mouse-up:hover .sidebar-open-button {
    opacity: 1;
    visibility: visible;
}

.sidebar-resizer {
    position: absolute;
    top: 0;
    left: -3px;
    width: 6px;
    height: 100%;
    cursor: ew-resize;
    z-index: 5;
    background-color: transparent;
    transition: background-color .5s;
}

.sidebar-resizer:hover {
    background-color: var(--main-accent-color);
}

.sidebar-close-button {
    transition: color .4s;
}

.sidebar-close-button:hover {
    color: var(--xy-theme-selected3);
}

.react-flow__node {
    box-shadow: var(--xy-node-boxshadow);
    border-radius: var(--xy-node-border-radius);
    background-color: var(--xy-node-background-color);
    min-width: var(--xy-node-min-width);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    flex-direction: column;
    border-color: var(--xy-node-border-color);
    border-width: 2px;
    border-style: solid;
    color: var(--xy-node-color, var(--xy-node-color-default));
    transition: box-shadow 0.4s, border .3s, opacity .3s;
}

.react-flow__node .header {
    background-color: var(--main-accent-color);
    transition: background-color .4s;
}

.react-flow__node .disabled .header {
    background-color: var(--input-disabled-accent-color);
}

.react-flow__node button.action {
    background-color: var(--dark-accent-color);
    border-color: transparent;
    outline: none;
}

.react-flow__node button.action:disabled {
    background-color: var(--dark-accent-color) !important;
}

button.node-handle:hover,
.react-flow__node button.action:hover {
    background-color: var(--xy-bang-button-color);
}

.react-flow__node .output-box {
    background-color: #42424c;
}

.react-flow__node:has(> .node-creator) {
    background-color: transparent;
    border-width: 2px;
}

.node-creator .header,
.node-creator .action {
    background-color: var(--xy-node-background-color);
    transition: background-color .5s;
    border-width: 2px;
}

.node-creator .header {
    border-bottom-color: var(--xy-node-border-color);
    border-bottom-style: solid;
}

.node-creator .action {
    border-top-color: var(--xy-node-border-color);
    border-top-style: solid;
}

.node-creator .action.connected {
    background-color: var(--dark-accent-color);
}

.react-flow__node.selectable:focus {
    box-shadow: 0px 0px 0px 4px var(--xy-theme-color-focus);
    border-color: #d9d9d9;
}

.react-flow__node.selectable:focus:active {
    box-shadow: var(--xy-node-boxshadow);
}

.react-flow__node.selectable:hover,
.react-flow__node.draggable:hover {
    border-color: #8190ff;
    box-shadow: 0 0 15px 2px hsl(270, 100%, 56%);

}

.react-flow__node.selectable.selected {
    border-color: var(--xy-theme-selected2);
    outline: 2px solid var(--xy-theme-selected2);
    box-shadow: 0 0 35px 3px hsl(265 100% 56% / 1);
}

.react-flow__node-group {
    background-color: rgba(207, 182, 255, 0.4);
    border-color: #9e86ed;
}

.react-flow__edge.selectable:hover .react-flow__edge-path,
.react-flow__edge.selectable.selected .react-flow__edge-path {
    stroke: var(--xy-theme-edge-hover);
}

.react-flow__edge .react-flow__edge-path {
    transition: opacity .25s;
    stroke: var(--data-type-color);
    stroke-width: 1.5px;
}

.react-flow__connectionline path,
.react-flow__edge.updating .react-flow__edge-path {
    stroke: var(--data-type-color, var(--xy-node-border-color));
}

.react-flow__connectionline path:not(.no-color),
.react-flow__edge.updating .react-flow__edge-path {
    opacity: .5;
}

.react-flow__handle {
    background-color: var(--xy-background-color);
    border-color: var(--data-type-color);
    border-width: 2px;
    transition: box-shadow .2s, opactity .2s, background-color .4s;
}

.react-flow__handle.connected {
    background-color: var(--data-type-color);
    box-shadow: 0 0 15px -1px var(--data-type-color);
}

.node-creator .react-flow__handle-left {
    transform: translate(50%);
}

.node-creator .react-flow__handle-right {
    transform: translate(-50%);
}

.react-flow__handle.ghost {
    border-color: var(--xy-node-border-color);
}

.react-flow__handle.connectionindicator:hover {
    pointer-events: all;
}

.react-flow__handle.connectionindicator:hover:not(.connectingto),
.react-flow__handle.connectingto.valid {
    --default-shadow-color: #706ba8;
    box-shadow: 0 0 10px 3px var(--data-type-color, var(--default-shadow-color)), 0 0 5px 0 inset var(--data-type-color, var(--default-shadow-color));
}

.react-flow__handle.connectionindicator:focus,
.react-flow__handle.connectingfrom,
.react-flow__handle.connectingto {
    /* border-color: var(--xy-theme-edge-hover); */
}

.react-flow__handle.connectingto.valid {
    /* background: #32910c !important; */
}

.react-flow__handle.connectingto:not(.valid) {
    /* background: #924141 !important; */
    border-color: #acacac;
    background-color: #4b4b4b;
    opacity: .4;
}

.react-flow__node-resizer {
    border-radius: 0;
    border: none;
}

.react-flow__resize-control.handle {
    background-color: #ffffff;
    border-color: #9e86ed;
    border-radius: 0;
    width: 5px;
    height: 5px;
}

/* 
  Custom Example CSS  - This CSS is to improve the example experience.
  You can remove it if you want to use the default styles.

  New Theme Classes:
    .xy-theme__button   - Styles for buttons.
    .xy-theme__input    - Styles for text inputs.
    .xy-theme__checkbox - Styles for checkboxes.
    .xy-theme__select   - Styles for dropdown selects.
    .xy-theme__label    - Styles for labels.
  
  Use these classes to apply consistent theming across your components.
*/

:root {
    --color-primary: #ff0073;
    --color-background: #fefefe;
    --color-hover-bg: #f6f6f6;
    --color-disabled: #76797e;
}

.xy-theme__button-group {
    display: flex;
    align-items: center;

    .xy-theme__button:first-child {
        border-radius: 100px 0 0 100px;
    }

    .xy-theme__button:last-child {
        border-radius: 0 100px 100px 0;
        margin: 0;
    }
}

/* Custom Button Styling */
.xy-theme__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 100px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-background);
    color: var(--color-primary);
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
    box-shadow: var(--xy-node-boxshadow);
    cursor: pointer;
}

.xy-theme__button.active {
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);
}

.xy-theme__button.active:hover,
.xy-theme__button.active:active {
    background-color: var(--color-primary);
    opacity: 0.9;
}

.xy-theme__button:hover {
    background-color: var(--xy-controls-button-background-color-hover-default);
}

.xy-theme__button:active {
    background-color: var(--color-hover-bg);
}

.xy-theme__button:disabled {
    color: var(--color-disabled);
    opacity: 0.8;
    cursor: not-allowed;
    border: 1px solid var(--color-disabled);
}

.xy-theme__button>span {
    margin-right: 0.2rem;
}

/* Add gap between adjacent buttons */
.xy-theme__button+.xy-theme__button {
    margin-left: 0.3rem;
}

/* Example Input Styling */
.xy-theme__input {
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--color-primary);
    border-radius: 7px;
    background-color: var(--color-background);
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
    font-size: 1rem;
    color: inherit;
}

.xy-theme__input:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px rgba(255, 0, 115, 0.3);
}

/* Specific Checkbox Styling */
.xy-theme__checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 7px;
    border: 2px solid var(--color-primary);
    background-color: var(--color-background);
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.xy-theme__checkbox:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.xy-theme__checkbox:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 0, 115, 0.3);
}

/* Dropdown Styling */
.xy-theme__select {
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--color-primary);
    border-radius: 50px;
    background-color: var(--color-background);
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
    font-size: 1rem;
    color: inherit;
    margin-right: 0.5rem;
    box-shadow: var(--xy-node-boxshadow);
}

.xy-theme__select:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px rgba(255, 0, 115, 0.3);
}

.xy-theme__label {
    margin-top: 10px;
    margin-bottom: 3px;
    display: inline-block;
}

.tippy-box {
    background-color: #121117;
    font-size: 12;
    border-radius: 4px;
    color: #b3b3bc;
    box-shadow: 0px 0 16px 3px #161022;
    pointer-events: none;
    border: 2px solid #4c30a9;
}

.tippy-box.hidden {
    visibility: hidden;
}


.switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    border-radius: 34px;
}

.slider .dot {
    height: 100%;
    width: 17.5px;
    background-color: #d1cedc;
    transition: 0.3s;
    border-radius: 50%;
    display: block;
}

input:checked+.slider {
    background-color: var(--xy-node-border-color);
}

input:checked+.slider .dot {
    transform: translateX(13px);
}

input:disabled+.slider {
    background-color: var(--input-disabled-accent-color);
    border-color: var(--input-disabled-accent-color);
}

input:not(:checked):disabled+.slider {
    background-color: var(--dark-accent-color);
}

input:disabled+.slider .dot {
    background-color: var(--input-disabled-color);
}

.slider,
button.node-handle,
input {
    background-color: var(--dark-accent-color);
    border-color: var(--xy-node-border-color);
    border-style: solid;
    border-width: 1.5px;
}

input {
    transition: color 0.4s, border-color 0.4s;
    border-radius: 3px;
}

input:focus {
    outline: 2px solid var(--xy-theme-selected3);
}

button.node-handle:disabled,
input:disabled {
    color: var(--input-disabled-color);
    border-color: var(--input-disabled-accent-color);
}

button.node-handle:focus {
    outline: none;
}
button.node-handle:disabled {
    background-color: var(--dark-accent-color) !important;
}

input[type="checkbox"]:not(:checked) {
    background: var(--dark-accent-color);
    border: 1px solid var(--xy-node-border-color);
    width: 16px;
    height: 16px;
    appearance: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    accent-color: var(--xy-node-border-color);
    border-radius: 3px;
    width: 16px;
    height: 16px;
}

.element {
    position: relative;
    border-radius: 8px;
    padding: 8px;
    background: linear-gradient(to bottom, #1f1d33 40%, #3a2d74) 100%;
}


.element::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1px;
    /* border thickness */
    border-radius: 5px;
    background: linear-gradient(to bottom, #6a61d8, #2a2c4a);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.element2 {
    position: relative;
    border-radius: 8px;
    padding: 8px;
    background: linear-gradient(to bottom, #5d54cd 40%, #7156cc) 100%;
}

.element2::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1px;
    /* border thickness */
    border-radius: 5px;
    background: linear-gradient(to bottom, #ab97ff, #47b3d9);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.dropdown {
    border: 1px solid rgba(77, 77, 77, 0.65);
    border-radius: 8px;
}

.dropdown .trigger {}

.dropdown:focus {
    /* border: 2px solid #4c30a9; */
    /* outline: none; */
}

.dropdown .option:hover {
    background: var(--selection-hover-color);
}

.dropdown .option.selected {
    background: var(--main-accent-color);
}

.dropdown .option {
    transition: background .25s;
}

.modal-buttons button:hover,
button.highlight-hover:hover,
.tabs button.main:hover {
    background-color: var(--xy-bang-button-color);
}

.modal-buttons button,
button.highlight-hover,
.tabs button.main {
    transition: background-color .5s, color .4s;
    outline: none !important;
}

.tabs button.main {
    width: 43px;
    height: 33px;
    padding: 0;
    font-size: 19px;
}

.tabs .header {
    background: linear-gradient(var(--dark-accent-color), #401278);
    border-bottom: 1.5px solid var(--xy-theme-hover);
}

.tab-button {
    box-shadow: #7587ff 0px 12px 21px -20px inset;
    transition: box-shadow .5s, border-color .6s;
    background-color: var(--dark-accent-color);
}

.tab-button:hover {
    box-shadow: #7587ff 0px 12px 30px -20px inset;
}

.tab-button.active-tab {
    /* box-shadow: #7587ff 0px 17px 21px -20px inset; */
}

.tab-button svg {
    height: 1.75em;
    width: 1.75em;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1.5px solid transparent;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--main-accent-color);
    cursor: pointer;
    transition: border-color .6s, background-color .5s, color .4s;
}

button:hover {
    border-color: var(--xy-theme-hover);
}

button.active-tab,
button:focus,
button:focus-visible {
    outline: 2px solid var(--xy-theme-selected3);
}

button.destructive {
    background-color: var(--destructive-base-color);
}

button.destructive:hover {
    background-color: var(--destructive-highlight-color);
}

button:disabled {
    background-color: var(--main-accent-color) !important;
}

.destructive-text {
    color: var(--destructive-highlight-color);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}


html,
body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#app {
    width: 100vw;
    height: 100vh;
}

.context-menu {
    background: white;
    border-style: solid;
    box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
    position: absolute;
    z-index: 10;
}

.context-menu button {
    border: none;
    display: block;
    padding: 0.5em;
    text-align: left;
    width: 100%;
}

.context-menu button:hover {
    background: white;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #14141459;
    backdrop-filter: blur(5px);
}

.modal-content {
    border-radius: 8px;
    padding: 20px;
    background-color: var(--xy-node-background-color);
    max-width: 600px;
}

.modal-content header {
    font-size: 24px;
    color: #85848b;
}

.modal-content p {
    color: #b6b6bc;
}

.modal-content .modal-buttons {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.modal-content .modal-buttons button {
    width: 100%;
}

.szh-menu {
    color: #cad1d8;
    background-color: #22262c;
    border: 1px solid #333;
    box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.25);
}

.szh-menu__arrow {
    background-color: #22262c;
    border-left-color: #333;
    border-top-color: #333;
}

.szh-menu__item--hover {
    background-color: #31363c;
}

.szh-menu__item--focusable {
    background-color: inherit;
}

.szh-menu__item--disabled {
    color: #666;
}

.szh-menu__item svg {
    transform: translateX(10px);
}

.szh-menu__divider {
    background-color: #3a3a3a;
}

.graph-manager {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.graph-manager .list-row,
.graph-manager .sort-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 8px;
    text-align: left;
    border-radius: 3px;
    transition: background-color .3s;
}

.graph-manager .sort-header {
    font-size: 11px;
    cursor: pointer;
    user-select: none;
    color: #838087;
}

.graph-manager .sort-header:hover,
.graph-manager .list-row:hover {
    background-color: var(--selection-hover-color);
}

.graph-manager .list-row button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 24px;
}

.node-creator button,
.title-editor {
    pointer-events: auto;
}